* {
	font-family: "Rubik", serif, sans-serif;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header {
	background-image: url('images/pattern-bg-desktop.png');
	justify-content: center;
	text-align: center;
	min-height: 4em;
	padding: 1em 1em 6em 1em;
	position: relative;
}
h2 {
	color: white;
}
.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	width: 60%;
	height: 3em;
	max-width: 450px;
	border-radius: 5px 0 0 5px;
	border: none;
	padding: 1em;
	outline: none;
}
input:focus {
	outline: 2px solid hsl(0, 0%, 59%);
}
button {
	cursor: pointer;
	border: none;
	background-color: black;
	padding: 1em;
	border-radius: 0 5px 5px 0;
	height: 3em;
}
button:hover {
	background-color: rgb(32, 31, 31);
}
button:focus {
	outline: 2px solid hsl(0, 0%, 59%);
}
.response {
	z-index: 1;
	position: absolute;
	left: 10%;
	top: 10em;
	width: 80%;
	height: auto;
	background-color: white;
	display: flex;
	padding: 1em;
	justify-content: center;
	align-items: flex-start;
	border-radius: 10px 10px 0 0;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.response p {
	color: hsl(0, 0%, 59%);
	font-size: 0.7em;
	margin: 0;
}
.response h3 {
	word-wrap: break-word;
}
.response .dat {
	text-align: left;
	padding: 0.7em;
	width: 25%;
}

.response .divider {
	align-self: center;
	width: 1px;
	padding: 0;
	height: 4em;
	background-color: hsl(0, 0%, 59%);
}
main {
	height: 64%;
	z-index: 0;
}
#map {
	height: 100%;
	z-index: 0;
}
@media (max-width: 500px) {
	.response {
			flex-direction: column;
			top: 10em;
			width: 80%;
			justify-content: flex-start;
			align-items: center;
	}
	.response .dat {
			text-align: center;
			padding: 0;
			width: unset;
	}
	.divider {
			display: none;
	}
}
@media (max-width: 450px) {
	header {
			background-image: url('images/pattern-bg-mobile.png');
			background-repeat: no-repeat;
			background-size: cover;
	}
	main {
			height: 80%;
	}
	.response h3 {
			margin: 0.7em;
	}
	
}
